.body {
  margin: 0;
  padding: 0;
  line-height: 1.7em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: #f2f2f2;
}
.main-div {
  background-color: #f2f2f2;
}
.nav {
  background: linear-gradient(#3aa0d4 10%, #0b6a9d 90%);
  background-image: url(https://templatemo.com/images/templatemo-header-9e.png);
  min-height: 250px;
  border-bottom: 5px solid #fff;
  box-shadow: 0px 3px 4px -2px #888;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.right {
  width: 60%;
}
.left {
  width: 40%;
}
.div-1left {
  margin: 20px 20px 20px 20px;
}
.div-2left {
  margin: 34px 34px 34px 38px;
  color: #fff;
  font-size: 17px;
  font-family: sans-serif;
}
.div-1right {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  gap: 12px;
}
.btn-1 {
  border: none;
  padding: 17px 43px 16px 27px;
  box-shadow: 0px 3px 4px -2px lightblue;
}
.btn-1 a {
  text-decoration: none;
  color: black;
  background-color: #f2f2f2;
  font-size: 19px;
}
.btn-1 a:hover {
  color: red;
}
.secound-div {
  margin: 80px 21px 220px 91px;
  color: #009952;
  font-size: 25px;
  font-family: monospace;
}
.third-div {
  display: flex;
  width: 100%;
  gap: 60px;
  margin-top: 100px;
}
.anchor {
  text-decoration: none;
  font-size: 19px;
  margin-left: 50px;
}
.anchor:hover {
  color: red;
  text-decoration: underline;
}
.sub-1 {
  bottom: -0.25em;
  font-size: 20px;
}
.nav-2 {
  display: flex;
  width: 100%;
}
.div-1 {
  width: 50%;
}
.div-2 {
  width: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.p-1 {
  margin: 18px 17px 13px 43px;
  font-size: 17px;
  font-family: sans-serif;
}
ul {
  display: flex;
  gap: 10px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  border: 2px solid #009952 !important;
  background-color: #fff;
  font-size: 17px;
  border-radius: 5px;
  font-family: sans-serif;
  color: #009952;
  padding: 8px 16px;
}
ul li a:hover {
  color: #edb452;
  border-color: #edb452 !important;
  text-decoration: none;
}
.hr-line {
  border-bottom: 1px solid #399;
  margin: 10px 96px 7px 44px;
}
.div-h1 {
  margin: 33px 18px 13px 39px;
  color: #399;
}
.div-p {
  width: 70%;
  margin-left: 39px;
  font-size: 19px;
  font-family: sans-serif;
}
.div-p p a {
  color: #399;
  text-decoration: none;
  font-size: 20px;
}
.seventh-div {
  margin: 75px 20px 20px 20px;
  display: flex;
}
.main-div2 {
  background: #f6f9fc;
}
.card-container {
  display: flex;
  justify-content: space-evenly;
  gap: 45px;
  margin-right: 39px;
  margin-left: 27px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.child-1 {
  border-radius: 28px;
  background: #fff;
  padding: 31px 30px 40px 30px;
}
.child-1:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -3px 12px 2px 12px;
  text-align: center;
}
.img-1 {
  height: 254px;
  width: 250px;
  margin-bottom: 30px;
}
a {
  text-decoration: none;
  color: #33b5ec;
  font-size: 23px;
}
a:hover {
  text-decoration: underline;
  color: #2a6496;
}
p {
  font-size: 18px;
  font-family: sans-serif;
}
.div-h1-2 {
  color: #33b5ec;
  margin-left: 76px;
  font-family: ui-monospace;
  margin-top: 400px;
}
.div-h1-3 {
  color: #33b5ec;
  margin-left: 76px;
  font-family: ui-monospace;
  margin-top: 60px;
}
.img-2 {
  height: 300px;
  width: 250px;
  margin-bottom: 30px;
}
.div-a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-3 {
  height: 300px;
  width: 250px;
  margin-bottom: 8px;
}
.footer {
  display: flex;
  width: 100%;
  margin-bottom: 400px;
}
.footer-1 {
  width: 70%;
}
.footer-2 {
  width: 30%;
}
.footer-1-div {
  width: 54%;
  margin-left: 69px;
}
.footer-p {
  font-size: 21px;
  font-family: emoji;
}
.name {
  margin: 129px 139px 77px 0px;
}

.btn-4 {
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(to bottom, #5bc0de 0, #2aabd2 100%);
  background-repeat: repeat-x;
  border-color: #28a4c9;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-4:hover {
  text-decoration: none;
  color: white;
}
.a-info {
  font-size: large;
  color: #399;
}
.a-info:hover {
  text-decoration: none;
  color: #edb452;
}
.hr {
  border-bottom: 1px solid grey;
  margin: 29px 54px 38px 54px;
}
ol li {
  font-size: 23px;
}
ol li p {
  font-size: 20px;
}
.child-main {
  display: flex;
  width: 80%;
  /* padding-bottom: 21px; */
  padding: 52px 8px 29px 55px;
  box-sizing: content-box;
  gap: 48px;
  margin-left: 75px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 1px;
  background-color: #fff;
  border-radius: 40px;
  height: 630px;
}
.child-child-main {
  width: 50%;
  background-color: #4d0aa4;
  border-radius: 26px;
  padding: 45px;
  height: 497px;
  display: grid;
}
.label2 {
  color: #fff;
  font-size: 23px;
  font-family: auto;
}
.input-div {
  display: grid;
}
.input2 {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: #4d0aa4;
  margin: 21px 0px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  outline: none;
}
.text h1 {
  color: #000;
  font-family: "Montserrat", Sans-serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;
}
.text p {
  font-size: larger;
  font-weight: 400;
}
.btn {
  padding: 13px 200px 13px 200px;
  color: #fff;
  cursor: pointer;
  background: #232323;
  margin-top: 16px;
  border: none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.child2 {
  background: linear-gradient(lightgreen, red, blue, yellow, orange, #232);
  padding: 4%;
  height: 100%;
}
.icon-2 {
  font-size: 125px;
  color: yellow;
  height: 112px;
  border: 4px solid black;
  line-height: 114px !important;
  border-radius: 4px;
  cursor: pointer;
}
.b {
  border-bottom: 3px solid #399;
  margin: 72px 36px 39px 1px;
}
.anchor-tag {
  color: #fff;
  font-family: auto;
  font-size: 50px !important;
}
.anchor-tag:hover {
  text-decoration: none !important;
  color: #fff !important;
}
.para {
  font-size: 27px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.ctr-div {
  display: flex;
  width: 100%;
}
.child-btn {
  padding: 12px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-family: emoji;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  transition: 0.5s;
}
.child-btn:hover {
  background-color: #fff !important;
  color: #000 !important;
}
.child-btn {
  color: #fff !important;
  font-size: 25px;
}
.child-btn :hover {
  color: #000 !important;
  text-decoration: none;
}
